@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=0F80F2BA-F837-43AB-848B-BF65530EED24
npmScopes:
fortawesome:
  npmAlwaysAuth: true
  npmRegistryServer: "https://npm.fontawesome.com/"
  npmAuthToken: "0F80F2BA-F837-43AB-848B-BF65530EED24"