<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDddZ7h6L38jzxVacZXi4ZmAOjhBvB-QrE</string>
	<key>GCM_SENDER_ID</key>
	<string>993136126623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DocileApp</string>
	<key>PROJECT_ID</key>
	<string>docile-d1943</string>
	<key>STORAGE_BUCKET</key>
	<string>docile-d1943.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993136126623:ios:c9373e43664186a6c910aa</string>
</dict>
</plist>